<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <input matInput placeholder="id" formControlName="id" />
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <input matInput placeholder="type" formControlName="type" />
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <input matInput placeholder="titre" formControlName="titre" />
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <input matInput placeholder="lien" formControlName="lien" />
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <input matInput placeholder="datae" formControlName="date" />
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <input matInput placeholder="sourcepdf" formControlName="sourcepdf" />
  </mat-form-field><br/>

  <button type="submit">Submit</button>
</mat-dialog-content>
